<p id="notice"><%= notice %></p>

<p>
  <strong>IF YOU SEE THIS ITS WRONG! THIS IS CONFUSING AND SHOULD BE IGNORED :</strong>
  <%= @question.japanese %>
</p>

<%= link_to 'Show English', answer_anime_question_path %>
<%= link_to 'Back', animes_path %>
