<!-- <h1> Animania: Learn Japanese Through the Power of Anime </h1> -->


<body>


  <div class="row">
      <p><img src="http://blueberryjamtart.files.wordpress.com/2011/06/japanese-class-room-colour.jpg"/></p>
    </div>
  </div>






  <div class="row">

    <div class="large-8 columns">
      <h4>Bro, It's Science!</h4>
      <p>Studies show that you can learn up to 453% faster by coupling anime watching with language learning. </p>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      <p><a href="/animes"class="secondary small button">Choose Animes Here</a></p>
    </div>

    <div class="large-4 columns">



      <ul class="small-block-grid-3">
        <li><img src="http://images4.fanpop.com/image/photos/15200000/FLCL-flcl-15228882-800-1235.jpg"/></li>
        <li><img src="http://anilinkz.com/img/ser/fi/776.jpg"/></li>
        <li><img src="http://img1.ak.crunchyroll.com/i/spire2/654681f8eefdc13ad8dee196ff2a74f71366329524_full.jpg"/></li>
        <li><img src="http://wanime.mobi/wp-content/uploads/fate-zero-1080p-9.jpg"/></li>
        <li><img src="http://macpcx.com/wp-content/uploads/2011/07/ghost_in_the_shell1.jpg"/></li>
        <li><img src="http://www.pinoyanime.tv/images/psycho-pass.jpg"/></li>
      </ul>
    </div>

  </div>



  <div class="row">
    <div class="large-12 columns">

      <div class="panel">
        <h4>Get in touch!</h4>

        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>

    </div>
  </div>




  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <!-- <div class="row"> -->
        <!-- <div class="large-6 columns"> -->
          <!-- <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
            <li><a href="#">Link 6</a></li>
            <li><a href="#">Link 7</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>


</body>
