// Place all the styles related to the Animes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
  color: black;
  border: 1px solid #ccc;
  padding: 10px}
table {
  border-collapse: collapse;
}
td:nth-child(even){
  background: #eee;
}
.container {
  width: 800px;
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;
}
